
#wrapper {
    position: relative;
}

.navbar-title{
    text-align: center;
    color: #13354A;
    position: relative;
    top: 50px;
}

.title-color-sas{
    color: #13354A;
    font-size: 20px;
    font-weight: bold;
}

.title-color-sas-second{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}

.btn-sas {
    background-color: #16465E;
    border-color: #132d42;
    color: #ffffff;
}
.btn-sas:hover,
.btn-sas:active,
.btn-sas.hover {
    background-color: #247299;
    color: #ffffff;
}

.background-sas{
    background-color: #16465E;
    color: #ffffff;
}

.background-sas-box{
    background-color: #eeeeee;
}

.breadcrumb li {
    color: #a1a1a1;
}

.breadcrumb li.booking-step-active{
    color: #16465E;
    font-weight: bold;
    text-decoration: underline;
}

.booking-step-active{
    color: #16465E;
    font-weight: bold;
    text-decoration: underline;
}

.booking-step-deactive {
    color: #a1a1a1;
}

.box.box-sas {
    border-top-color: #16465E;
    /*border-bottom: 1px solid #16465E;-->
    <!--border-left: 1px solid #16465E;-->
    <!--border-right: 1px solid #16465E;-->*/
}

.box-header.with-border{
    /*border-bottom: 1px solid #16465E;*/
}
.box-body.with-border{
    /*border-bottom: 1px solid #16465E;*/
}